.preload{
    background-color: #000;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    opacity: .5;
}

.preload .progressbar{
    position: relative;
}

.preload .progressbar .bar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: .5rem;
    background-color: gray;
    position: relative;
}

.preload .progressbar .bar::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: #1002d3;
    animation: preload forwards 3s;
}

@keyframes preload {
    from{width: 0%;}
    to{width: 100%;}
}

/** COMMON CSS STYLE **/
.container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
    --bs-gutter-x: 0;
    -bs-gutter-y: 0;
}
 
:root{
    /** FONTS STYLE **/
    --primary-font: Tahoma, Arial;
    --color: #4A4A4A
}
 
*{
    font-family: var(--primary-font);
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 400;
    transition: all .2s linear;
    box-shadow: none !important;
    box-sizing: border-box;
    font-size: 1.6rem;
}
 
*::selection{
    background-color: #333;
    color: #fff;
}
 
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
 
body{
    overflow-y: hidden !important;
    background-color: var(--bg-color);
}
 
ul, li{
    list-style: none;
    margin: 0;
    padding: 0;
}
 
a, a:hover{
    text-decoration: none;
}
 
.card{
    --bs-card-border-radius: 0;
}

.body-centerd{
    background-color: #fff;
    max-width: 500px;
    width: 100%;
    margin: auto;
    height: 100vh;
}

/* logo */

header .logo{
    color: #757575;
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
    margin: 0;
    border-bottom: 1px solid #9d9f9c5e;
    margin-bottom: .1rem;
}

/* logins */

form{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding-bottom: 1.3rem;
    overflow: hidden;
}

form label{
    color: var(--color);
    font-size: 1.5rem;
    padding: .8rem 0;
}

form input{
    width: 100%;
    background-color: #F7F8FA;
    padding: .5rem 1rem;
    font-size: 1.4rem;
    text-transform: none;
    border: .2rem solid #5890ff46;
}

form input[type="submit"]{
    text-transform: capitalize;
    color: #fff;
    background-color: #5890FF;
    margin-top: 1.3rem;
}

form input[type="submit"]:hover{
    background-color: #4e80e2;
}

form a{
    margin-top: .5rem;
    display: block;
    font-size: 1.4rem;
}

form a:hover{
    background-color: rgba(51, 51, 51, 0.37);
}

/* sign up btn */

.sign-up{
    background-color: #fff;
}

.sign-up .or{
    text-align: center;
    color: #000;
    text-transform: lowercase;
    position: relative;
}

.sign-up .or::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 55%;
    width: 35%;
    height: .1rem;
    background-color: rgba(148, 148, 148, 0.699);
}

.sign-up .or::before{
    content: '';
    position: absolute;
    top: 50%;
    right: 55%;
    width: 35%;
    height: .1rem;
    background-color: rgba(148, 148, 148, 0.699);
}

.sign-up .btn-s{
    background-color: #69A74E;
    color: #fff;
    display: table;
    text-align: center;
    margin: 1.5rem auto;
    padding: .7rem 1.4rem;
    font-weight: 600;
    font-size: 1.3rem;
}

.sign-up .btn-s:hover{
    background-color: #5b9443;
}

/* footer */

footer{
    margin-top: 2.5rem;
}

footer a, footer p{
    display: table;
    font-size: 1.4rem
}

footer .box{
    margin-left: 1rem;
}

footer .box a{
    padding: 1rem 0;
}